<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<!-- 配置sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>	
	</bean>           
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>	
	</bean>
	
	<!-- 配置事务的通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!--写操作  -->
			<tx:method name="deposit*" propagation="REQUIRED" isolation="DEFAULT" />
			<tx:method name="register*" propagation="REQUIRED" isolation="DEFAULT" />
			<tx:method name="transfer*" propagation="REQUIRED" isolation="DEFAULT" />
			<tx:method name="withdrawals*" propagation="REQUIRED" isolation="DEFAULT" />
			
			<!-- 读操作 只允许只读 -->
			<tx:method name="login*" isolation="DEFAULT" propagation="REQUIRED" read-only="true"/>
			<tx:method name="inquiry*" isolation="DEFAULT" propagation="REQUIRED" read-only="true"/>
			<tx:method name="checkIsExistToUser*" isolation="DEFAULT" propagation="REQUIRED" read-only="true"/>
			
			<!-- 为了防止其写操作没有以上面的开头遗漏了某个操作 -->
			<tx:method name="*" propagation="REQUIRED" isolation="DEFAULT"/>
		</tx:attributes>
	</tx:advice>
	
	<bean id="logger" class="com.cx.bank.advice.Logger">
		<property name="loggerServiceImpl" ref="loggerServiceImpl"></property>
	</bean>
	
	<aop:config >
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* *..Manager.*.*(..))"/>
		
		<aop:aspect ref="logger" id="loggerAspect">
			<aop:around method="record" pointcut="execution(* *..*ManagerImpl.*(..))"/>
		</aop:aspect>
	</aop:config>
	
</beans>
